/* morado #7A3168*/
/* celeste #2C8FB7*/
/* azul #307185*/
/* amarillo #FFCD00*/
/* naranja #FF9A00*/
/* naranja1 #EE7500*/
/* verde #2E9B00*/
/* verde1 #2F7300*/
 body{
  width: 800px;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  display: block;
}
._header{
  width: 100%;
  height: 80px;
  position: relative;
  float: left;
  display: block;
}
._header nav{
  width: 400px;
  height: 100%;
  position: relative;
  float: left;
  background-color: #2C8FB7;
  color: #ffffff;
  margin:0 5px 0 5px;
}
nav ul{
  width: 100%;
  height: 65%;
  list-style: none;
  color: #fff;
  position: relative;
  margin: 15px 0 0 0;
  padding: 0;
}
nav ul li{
  position: relative;
  float: left;
  width: 33%;
  height: 100%;
  text-align: center;
  border-right: 1px #fff solid;
}
nav ul li.ult{ border-right: none;}
.estrellas, .telefono {
  background-color: #307185;
  width: 140px;
  height: 100%;
  position: relative;
  float: right;
  margin: 0 0 0 5px;
}
.logo{
  background: #7A3168;
  height: 100%;
  width: 90px;
  position: relative;
  float: left;
}
.logo img {margin: auto;}
main{
  width: 100%;
  background-color: #FFCD00;
  height: auto;
  position:relative;
  float: left;
}
main article{
  float: left;
  width: 51%;
  position: relative;
  padding: 20px;
  margin: 0 0 20px 0;
  background-color: #FF9A00;
  color: #EE7500;
}
footer{
  width: 100%;
  height: 45px;
  background-color: #2E9B00;
  position: relative;
  float: left;
  padding: 0;
}
footer nav {
  position: relative;
  width: 100%;
  height: 100%;
  width: 300px;
  margin: 0 0 0 50px;
  background-color: #2F7300;
  float: left;
}
footer nav ul{ margin: 0}
footer span{
  max-width: 300px;
  width: auto;
  height: 100%;
  position: relative;
  float: right;
  margin: 0;
  color:#fff;
  background-color: #2F7300;
  padding: 0 5px;
  margin: 0 0 0 5px;
}
